/**
 * BDML CSS file
 *
 * Copyright 2007 Bora Software (contact@borasoftware.com)
 * https://borasoftware.com/specifications/bdml.html
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see https://www.gnu.org/licenses/.
 *
**/

/* File: grammar.css */

/* Grammar syntax highlighting colours. */

.bdml-grCmt {
	color: #888;
}

.bdml-grCmt .bdml-grEx {
	color: #d99;
	font-weight: bold;
}

.bdml-grCmt .bdml-grEx .bdml-grEx {
	color: #99d;
	font-weight: bold;
}

.bdml-grNTL {
	color: #00a;
	font-weight: bold;
}

.bdml-grNTR {
	color: #00b;
}

.bdml-grTL {
	color: #700;
	font-weight: bold;
}

.bdml-grTR {
	color: #700;
}

.bdml-grStr {
	color: #b00;
}

.bdml-grRegEx {
	color: #9300bb;
}

.bdml-grStr:before, .bdml-grRegEx:before {
	color: #888;
	content: '"';
}

.bdml-grStr:after, .bdml-grRegEx:after {
	color: #888;
	content: '"';
}
