/**
 * BDML CSS file
 *
 * Copyright 2007 Bora Software (contact@borasoftware.com)
 * https://borasoftware.com/specifications/bdml.html
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see https://www.gnu.org/licenses/.
 *
**/

/* File: properties.css */

/* Hierarchical properties syntax highlighting colours. */

.bdml-properties .bdml-whitespace {
	margin: 0;
	padding: 0;
}

.bdml-properties .bdml-curly-brackets {
	margin: 0;
	padding: 0;
}

.bdml-properties .bdml-comment {
	color: #888;
	margin: 0;
	padding: 0;
}

.bdml-properties .bdml-key {
	color: #009;
	margin: 0;
	padding: 0;
}

.bdml-properties .bdml-value {
	color: #700;
	margin: 0;
	padding: 0;
}

.bdml-properties .bdml-key-value-separator {
	color: #888;
	margin: 0;
	padding: 0;
}

.bdml-properties .bdml-include {
	color: #a89500;
	margin: 0;
	padding: 0;
}
